@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a::visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  margin: 0 15px;
  overflow: hidden;
}

.up-arr {
  height: 48px;
  width: 48px;
  position: fixed;
  bottom: 16px;
  right: 15px;
  cursor: pointer;
}

.footer {
  text-align: center;
  background-color: #E81C6F;
}

@media (min-width: 320px) {
  .logo {
    height: 288px;
    width: 100vw;
    background-image: url(../img/modile-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .logo img {
    max-width: 63px;
  }
  .turtles {
    position: relative;
    text-align: center;
  }
  .img-turtle {
    position: relative;
    top: -80px;
    justify-self: center;
    z-index: 2;
  }
  .blank-turtle {
    position: relative;
    top: 16px;
  }
  main {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    height: max-content;
    padding: 0 15px;
    background-color: #E81C6F;
  }
  main img {
    width: 100%;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: -50px 0 0 0;
  }
  .up-arr {
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 16px;
    right: 15px;
    cursor: pointer;
  }
  .footer {
    text-align: center;
    background-color: #E81C6F;
    padding: 32px 0;
  }
  .footer img {
    height: 64px;
  }
  .footer p {
    font-family: Roboto;
    margin: 0 0 5px 0;
  }
}
@media (min-width: 744px) {
  .logo {
    height: 576px;
    width: 100vw;
    text-align: center;
    background-image: url(../img/tab-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .logo img {
    margin: 16px 0 0 0;
    max-width: 147px;
  }
  .img-turtle {
    position: relative;
    top: -224px;
    justify-self: center;
    z-index: 2;
  }
  .blank-turtle {
    position: relative;
    top: 16px;
  }
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: max-content;
    padding: 0 15px;
    background-color: #E81C6F;
  }
  main img {
    width: 100%;
  }
  .menu {
    margin: -200px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .up-arr {
    height: 96px;
    width: 96px;
    position: fixed;
    bottom: 32px;
    right: 15px;
    cursor: pointer;
  }
  .footer {
    text-align: center;
    background-color: #E81C6F;
  }
  .footer img {
    height: 112px;
  }
}
@media (min-width: 1200px) {
  .logo {
    height: 672px;
    width: 100vw;
    text-align: center;
    background-image: url(../img/desktop-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
  }
  .logo img {
    margin: 16px 0 0 0;
    max-width: 253px;
  }
  .img-turtle {
    position: relative;
    top: -385px;
    justify-self: center;
    z-index: 2;
  }
  .blank-turtle {
    position: relative;
    top: 16px;
  }
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: max-content;
    padding: 0 15px;
    background-color: #E81C6F;
  }
  main img {
    width: 100%;
  }
  .menu {
    margin: -100px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }
  .menu img {
    width: 48.5436893204%;
  }
  .up-arr {
    height: 96px;
    width: 96px;
    position: fixed;
    bottom: 32px;
    right: 15px;
    cursor: pointer;
  }
  .footer {
    text-align: center;
    background-color: #E81C6F;
    padding: 48px 0;
  }
  .footer img {
    height: 112px;
  }
}

/*# sourceMappingURL=bora-bora.css.map */
