@import "cfg.scss";

.container {
    margin: 0 15px;
    overflow: hidden;
}

.up-arr {
    height: 48px;
    width: 48px;
    position: fixed;
    bottom: 16px;
    right: 15px;
    cursor: pointer;
    
    
}

.footer {
    text-align: center;
    background-color: #E81C6F;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@media (min-width: 320px) {
    .logo {
        height: 288px;
        width: 100vw;
        background-image: url(../img/modile-bg.png);
        background-repeat: no-repeat;
        background-size: auto;
        
        
        img {
            max-width: 63px;
        }
        
    }
    .turtles {
        position: relative;
        text-align: center;
        
    }

    .img-turtle {
        position: relative;
        top: -79px;
        justify-self: center;
        z-index: 2;
        
        
        
    }

    .blank-turtle {
        position: relative;
        top: 16px;
        
    }

    main {
        
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        height: max-content;
        padding: 0 15px;
        background-color: #E81C6F;

        

        img {
            width: 100%;
        }

          
    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: -50px 0 0 0;

        
        
        
    }
    
    .up-arr {
        height: 48px;
        width: 48px;
        position: fixed;
        bottom: 16px;
        right: 15px;
        cursor: pointer;
        
        
    }

    .footer {
        text-align: center;
        background-color: #E81C6F;

        img {
            
            height: 112px;
            margin: 32px 0;
        }
    }
}

@media (min-width: 744px) {
    .logo {
        height: 576px;
        width: 100vw;
        text-align: center;
        background-image: url(../img/tab-bg.png);
        background-repeat: no-repeat;
        background-size: auto;

        img {
            margin: 16px 0 0 0 ;
            max-width: 147px;
            
        }
    }

    .img-turtle {
        position: relative;
        top: -224px;
        justify-self: center;
        z-index: 2; 
    }

    .blank-turtle {
        
        position: relative;
        top: 16px;
        
    }


    main {
        
        display: flex;
        flex-direction: column;
        text-align: center;
        height: max-content;
        padding: 0 15px;
        background-color: #E81C6F;

        

        img {
            width: 100%;
        }

          
    }

    .menu {
        margin: -200px 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        
    }

    .up-arr {
        height: 96px;
        width: 96px;
        position: fixed;
        bottom: 32px;
        right: 15px;
        cursor: pointer;
        
        
    }

    .footer {
        text-align: center;
        background-color: #E81C6F;

        img {
            
            height: 112px;
            margin: 32px 0;
        }
    }
}

@media (min-width: 1200px) {
    .logo {
        height: 672px;
        width: 100vw;
        text-align: center;
        background-image: url(../img/desktop-bg.png);
        background-repeat: no-repeat;
        background-size: auto;

        img {
            margin: 16px 0 0 0 ;
            max-width: 253px;
            
        }
    }

    .img-turtle {
        position: relative;
        top: -385px;
        justify-self: center;
        z-index: 2; 
    }

    .blank-turtle {
        
        position: relative;
        top: 16px;
        
    }

    main {
        
        display: flex;
        flex-direction: column;
        text-align: center;
        height: max-content;
        padding: 0 15px;
        background-color: #E81C6F;

        

        img {
            width: 100%;
        }

          
    }

    .menu {
        margin: -100px 0 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;

        img {
            width: 250 / 515 * 100%;
        }
        
    }

    .up-arr {
        height: 96px;
        width: 96px;
        position: fixed;
        bottom: 32px;
        right: 15px;
        cursor: pointer;
        
        
    }

    .footer {
        text-align: center;
        background-color: #E81C6F;

        img {
            
            height: 112px;
            margin: 64px 0;
        }
    }
}